body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

div.no_jobs_found {
  margin: 20px;
  font-size: 30px;
}

div.search_grid {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 50px 600px auto;
}

div.search_title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 4;
}

div.form_box {
  background-color: #222222;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 6px;
  margin-left: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 120px 420px;
  grid-template-rows: 30px 30px 160px 30px 30px 30px 30px 30px 30px 30px 38px 34px 42px;
  height: 554px;
  float: left;
  width: 430px;
}

div.items_top_area {
  grid-column-start: 1;
  grid-column-end: 4;
}

div.item_box {
  background-color: #222222;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 6px;
  width: 240px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 20px 18px 144px 20px;
  font-size: 14px;
  float: left;
  padding: 8px;
  height: 220px;
}

input.search_button {
  background-color: #000000;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 19px;
  padding-top: 4px;
  border-radius: 4px;
  height: 42px;
  margin-left: 0px;
  cursor: pointer;
  width: 421px;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
}

input.standard_input {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-top: 4px;
  border-radius: 6px;
  height: 22px;
  border: 2px solid #ffffff;
  width: 300px;
}

div.form_title {
  font-size: 13px;
  text-align: right;
  margin-top: 4px;
  margin-right: 4px;
}

div.form_input {
}

div.form_search {
  grid-column-start: 1;
  grid-column-end: 3;
}

textarea.standard_textarea {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-top: 4px;
  border-radius: 6px;
  height: 150px;
  border: 2px solid #ffffff;
  width: 300px;
  resize: none;
}

div.form_type {
  display: grid;
  grid-template-columns: 152px 152px;
  grid-template-rows: 30px;
  font-size: 13px;
}

div.form_type_left {
  grid-column-start: 1;
}

div.form_type_right {
  grid-column-start: 2;
}

div.item_filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.item_id {
  font-size: 13px;
}

div.item_created {
  font-size: 13px;
}

div.item_thumbnail {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 240px;
  margin: -8px; /* inverse of the padding in item_box, its container */
}

form.main_form {
  margin: 0px;
  padding: 0px;
}

div.right_box {
  background-color: #222222;
  padding-top: 6px;
  padding-left: 4px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 2px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 354px;
  grid-template-rows: 22px auto auto auto auto;
  float: right;
  width: 362px;
  padding-bottom: 4px;
  padding-left: 4px;
}

div.hits_display {
  font-size: 15px;
  text-align: right;
}

div.pie_chart_box {
  margin-top: 4px;
  border-radius: 6px;
  width: 358px;
  padding: 0px;
}

div.pie_chart_name {
  font-size: 14px;
  padding: 5px;
}

div.pie_chart {
  font-size: 12px;
}

div.pie_chart_lengend_box {
  border-radius: 2px;
  color: black;
  padding: 3px;
  margin: 3px;
  float: left;
}

img.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
