body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

div.grid {
  display: grid;
  grid-template-columns: 1800px;
  grid-template-rows: 50px 90px 40px repeat(128, 56px) auto;
}

div.title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  width: 1790px;
  grid-column-start: 1;
  grid-column-end: 1;
}

div.controls_box {
  height: 80px;
  margin: 2px;
  width: 1800px;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 30px 30px 30px 160px 130px 145px 195px 150px 50px 295px 50px 295px 140px 54px 50px;
  grid-template-rows: 35px 35px;
}

div.headings_box {
  background-color: #222222;
  padding-top: 10px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1800px;
  display: grid;
  grid-template-columns: 60px 160px 520px 180px 180px 160px 200px 140px 100px 100px;
  grid-template-rows: 30px;
}

div.job_box_normal {
  background-color: #222222;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1800px;
  display: grid;
  grid-template-columns: 60px 1700px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.job_box_failed {
  background-color: #400000;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1800px;
  display: grid;
  grid-template-columns: 60px 1700px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.job_box_finished {
  background-color: #004000;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1800px;
  display: grid;
  grid-template-columns: 60px 1700px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.job_box_warning {
  background-color: #424100;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1800px;
  display: grid;
  grid-template-columns: 60px 1700px;
  grid-template-rows: 50px;
  font-size: 14px;
}

div.job_box_aborted {
  background-color: #492200;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1800px;
  display: grid;
  grid-template-columns: 60px 1700px;
  grid-template-rows: 50px;
  font-size: 14px;
}

a.job_page_link {
  grid-column-start: 2;
  padding-top: 18px;
  display: grid;
  grid-template-columns: 160px 520px 180px 180px 160px 200px 140px 100px 100px;
  grid-template-rows: 50px;
}

div.select_heading {
  grid-column-start: 1;
}

div.id_heading {
  grid-column-start: 2;
  cursor: pointer;
}

div.filename_heading {
  grid-column-start: 3;
}

div.type_heading {
  grid-column-start: 4;
  cursor: pointer;
}

div.status_heading {
  grid-column-start: 5;
  cursor: pointer;
}

div.progress_heading {
  grid-column-start: 6;
}

div.user_heading {
  grid-column-start: 7;
  cursor: pointer;
}

div.started_heading {
  grid-column-start: 8;
  cursor: pointer;
}

div.time_left_heading {
  grid-column-start: 9;
}

div.priority_heading {
  grid-column-start: 10;
  cursor: pointer;
}

div.select_data {
  grid-column-start: 1;
  padding-left: 16px;
  padding-top: 16px;
}

div.id_data {
  grid-column-start: 1;
}

div.filename_data {
  grid-column-start: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

div.type_data {
  grid-column-start: 3;
}

div.status_data {
  grid-column-start: 4;
}

div.progress_data {
  grid-column-start: 5;
}

div.user_data {
  grid-column-start: 6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

div.started_data {
  grid-column-start: 7;
}

div.time_left_data {
  grid-column-start: 8;
}

div.priority_data {
  grid-column-start: 9;
}

div.job_page_grid {
  display: grid;
  grid-template-columns: 611px 611px 611px;
  grid-template-rows: 50px 44px 44px 44px 44px 44px 44px 44px 44px 44px auto;
}

div.job_page_title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  width: 1818px;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 1650px 150px;
  grid-template-rows: 45px;
}

div.job_page_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

div.job_data_box {
  background-color: #222222;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 1828px;
  display: grid;
  grid-template-columns: 200px 1628px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_box_left {
  background-color: #222222;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 606px;
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_box_middle {
  background-color: #222222;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 606px;
  display: grid;
  grid-template-columns: 120px 400px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_box_right {
  background-color: #222222;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 3;
  grid-column-end: 3;
  width: 606px;
  display: grid;
  grid-template-columns: 150px 400px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_box_failed {
  background-color: #400000;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 606px;
  display: grid;
  grid-template-columns: 120px 400px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_box_aborted {
  background-color: #492200;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 606px;
  display: grid;
  grid-template-columns: 120px 400px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_box_warning {
  background-color: #424100;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 606px;
  display: grid;
  grid-template-columns: 120px 400px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_box_finished {
  background-color: #004000;
  padding: 0px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 606px;
  display: grid;
  grid-template-columns: 120px 400px;
  grid-template-rows: 40px;
  font-size: 13px;
}

div.job_data_label {
  padding-top: 14px;
  padding-left: 14px;
  grid-column-start: 1;
}

div.job_data_value {
  padding-top: 14px;
  grid-column-start: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

div.last_page {
  background-color: #222222;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: 5px;
  grid-column-start: 14;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 21px;
  cursor: pointer;
}

div.next_page {
  background-color: #222222;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: 5px;
  grid-column-start: 15;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 21px;
  cursor: pointer;
}

div.arrow_right {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 35px solid #ffffff;
}

div.arrow_left {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right:35px solid #ffffff;
}

div.job_number {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  margin-top: 16px;
  padding-top: 8px;
  padding-left: 8px;
  border-radius: 3px;
  background-color: #222222;
  font-size: 14px;
  height: 20px;
  min-width: 180px;
  max-width: 300px;
}

div.page_number {
  grid-column-start: 13;
  width: 120px;
  margin-top: 12px;
  border-radius: 3px;
  background-color: #222222;
  font-size: 14px;
  padding-top: 6px;
  padding-left: 6px;
  height: 20px;
}

div.size_button_16 {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
}

div.size_button_16_grey {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
  color: #bbbbbb;
}

div.size_button_32 {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
}

div.size_button_32_grey {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
  color: #bbbbbb;
}

div.size_button_64 {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
}

div.size_button_64_grey {
  background-color: #222222;
  width: 21px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
  color: #bbbbbb;
}

div.size_button_128 {
  background-color: #222222;
  width: 27px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 4;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
}

div.size_button_128_grey {
  background-color: #222222;
  width: 27px;
  height: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 2px;
  grid-column-start: 4;
  grid-row-start: 1;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
  color: #bbbbbb;
}

div.select_all {
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #222222;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
  padding: 6px;
  font-size: 14px;
  width: 62px;
  height: 14px;
}

div.rerun_selected {
  grid-column-start: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

div.priority_selected {
  grid-column-start: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

div.abort_selected {
  grid-column-start: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

button.priority_button {
  background-color: #222222;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  margin-left: 2px;
  margin-top: 30px;
  cursor: pointer;
}

input.rerun_selected_button {
  background-color: #222222;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  margin-left: 2px;
  margin-top: 30px;
  cursor: pointer;
}

input.abort_selected_button {
  background-color: #222222;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  margin-left: 2px;
  margin-top: 30px;
  cursor: pointer;
}

div.state_label{
  grid-column-start: 9;
  font-size: 14px;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 16px;
}

div.state_input {
  grid-column-start: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 4px;
}

div.type_label{
  grid-column-start: 11;
  font-size: 14px;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 16px;
}

div.type_input {
  grid-column-start: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 4px;
}

div.page_form {
  margin-top: 18px;
  grid-row-start: 2;
  grid-column-start: 13;
  margin-left: 32px;
}

input.go_button {
  background-color: #222222;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 4px;
  border-radius: 2px;
  height: 22px;
  margin-left: 4px;
  cursor: pointer;
}

input.page_input {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-top: 4px;
  border-radius: 6px;
  height: 22px;
  border: 2px solid #ffffff;
}

div.abort_button {
  background-color: #000000;
  font-size: 16px;
  padding-top: 5px;
  border-radius: 6px;
  width: 100px;
  padding-left: 56px;
  height: 22px;
  cursor: pointer;
}

div.progress_bar_background {
  background-color: #000000;
  border-radius: 3px;
  width: 142px;
  height: 18px;
}

div.progress_bar {
  background-color: #ffffff;
  border-radius: 3px;
  height: 18px;
}

div.progress_bar_background_job_page {
  background-color: #000000;
  border-radius: 3px;
  width: 1618px;
  height: 19px;
}

div.progress_bar_job_page {
  background-color: #ffffff;
  border-radius: 3px;
  height: 19px;
}

div.job_data_progress_bar {
  padding-top: 10px;
  grid-column-start: 2;
}

div.no_jobs_found {
  margin: 20px;
  font-size: 30px;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #000000;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

input.priority_submit_button {
  background-color: #222222;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 4px;
  border-radius: 2px;
  height: 30px;
  margin-left: 8px;
  cursor: pointer;
}

button.priority_cancel_button {
  background-color: #222222;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 4px;
  border-radius: 2px;
  height: 30px;
  margin-left: 8px;
  cursor: pointer;
}

div.job_page_steps_title_box {
  background-color: #222222;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  width: 1818px;
  grid-column-start: 1;
  grid-column-end: 1;
}

div.job_page_steps_title {
  margin-right: 10px;
}

div.step_box {
  background-color: #222222;
  margin: 2px;
  border-radius: 6px;
  width: 1816px;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 80px 1300px 433px;
  grid-template-rows: 40px auto;
  padding: 6px;
  min-height: 94px;
}

div.step_box_failed {
  background-color: #400000;
  margin: 2px;
  border-radius: 6px;
  width: 1816px;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 80px 1300px 433px;
  grid-template-rows: 40px auto;
  padding: 6px;
  min-height: 94px;
}

div.step_box_finished {
  background-color: #004000;
  margin: 2px;
  border-radius: 6px;
  width: 1816px;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 80px 1300px 433px;
  grid-template-rows: 40px auto;
  padding: 6px;
  min-height: 94px;
}

div.step_number {
  background-color: #000000;
  border-radius: 8px;
  grid-column-start: 1;
  grid-column-end: 1;
  padding-left: 22px;
  padding-top: 12px;
}

div.step_description {
  background-color: #000000;
  border-radius: 8px;
  grid-column-start: 2;
  grid-column-end: 2;
  margin-left: 4px;
  padding-left: 12px;
  padding-top: 12px;
}

div.step_tasks {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 8px;
  line-height: 1.6;
  word-wrap: break-word;
}

div.step_data {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  font-size: 15px;
  line-height: 1.6;
}

div.search_grid {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 50px 600px auto;
}

div.search_title_box {
  background-color: #222222;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 4;
}

div.form_box {
  background-color: #222222;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 6px;
  margin-left: 2px;
  border-radius: 6px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 120px 420px;
  grid-template-rows: 30px 30px 160px 30px 30px 30px 30px 30px 30px 30px 38px 34px 42px;
  height: 554px;
  float: left;
  width: 430px;
}

div.items_top_area {
  grid-column-start: 1;
  grid-column-end: 4;
}

div.item_box {
  background-color: #222222;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 6px;
  width: 240px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 20px 18px 144px 20px;
  font-size: 14px;
  float: left;
  padding: 8px;
  height: 194px;
}

input.search_button {
  background-color: #000000;
  color: #ffffff;
  border: 0px;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 19px;
  padding-top: 4px;
  border-radius: 4px;
  height: 42px;
  margin-left: 0px;
  cursor: pointer;
  width: 421px;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
}

input.standard_input {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-top: 4px;
  border-radius: 6px;
  height: 22px;
  border: 2px solid #ffffff;
  width: 300px;
}

div.form_title {
  font-size: 13px;
  text-align: right;
  margin-top: 4px;
  margin-right: 4px;
}

div.form_input {

}

div.form_search {
  grid-column-start: 1;
  grid-column-end: 3;

}

textarea.standard_textarea {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-top: 4px;
  border-radius: 6px;
  height: 150px;
  border: 2px solid #ffffff;
  width: 300px;
  resize: none;
}

div.form_type {
  display: grid;
  grid-template-columns: 152px 152px;
  grid-template-rows: 30px;
  font-size: 13px;
}

div.form_type_left {
  grid-column-start: 1;
}

div.form_type_right {
  grid-column-start: 2;
}

div.item_filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.item_id {
  font-size: 13px;
}

div.item_created {
  font-size: 13px;
}

div.item_thumbnail {
  width: 240px;
}

form.main_form {
  margin: 0px;
  padding: 0px;
}

div.right_box {
  background-color: #222222;
  padding-top: 6px;
  padding-left: 4px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 2px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 354px;
  grid-template-rows: 22px auto auto auto auto;
  float: right;
  width: 362px;
  padding-bottom: 4px;
  padding-left: 4px;
}

div.hits_display {
  font-size: 15px;
  text-align: right;
}

div.pie_chart_box {
  background-color: #000000;
  margin-top: 4px;
  border-radius: 6px;
  width: 358px;
  padding: 0px;
}

div.pie_chart_name {
  font-size: 14px;
  padding: 5px;
}

div.pie_chart {
  font-size: 12px;
}

div.pie_chart_lengend_box {
  border-radius: 2px;
  color: black;
  padding: 3px;
  margin: 3px;
  float: left;
}

img.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
